.image{
    width:150px;
    height:150px;
}
.title{
    font-family:cursive;
    font-size:36px;
    text-align:center;
}
body{
    background-color:lightgreen;
}
.title, .paragraph, .list, .table{
    color:slategray;
}
.table{
    border-style:solid;
    border-color:black;
}
.paragraph, h1{
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}